nav {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    margin: 15px;
}
nav h1 {
    font-size: 30px;
}
div h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://cdn.pixabay.com/photo/2018/06/13/18/20/waves-3473335_960_720.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 15px;
    font-size: 24px;
    padding-top: 50px;
    padding-bottom: 75px; 
}
nav li {
    display: inline-block;
    padding-left: 5px;
}
.box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url();
    padding: 10px;
}
.box p {
    flex: 1;
}
.section-title {
    font-size: 24px;
    padding: 10px;
    color: black;
    background-color: white;
    border-bottom: 2px solid black;
    margin-bottom: 25px;
    position: static;
    width: 32%;
}
@media screen and (min-width: 980px) {
    .box {
        flex-wrap: wrap;
    }
    .section-title {
        border-bottom: 0;
        border-right:  2px solid black;
    }
    .sideproject {
        
    }
}
.projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    background-image: url(http://placekitten.com/200/300);
    background-repeat: no-repeat;
    color: white;
}
.sideproject {
    display: flex;
    flex-direction: row;
    background-image: url(http://placekitten.com/200/300);
    background-repeat: no-repeat;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-top: 50px;
    color: white;
}

#aboutme, #projects, #contactme {
    background-color: white;
}

footer {
    text-align: center;
    line-height: 1.5;
}