:root {
    --dark: rgb(27, 26, 26);
    --teal: #5bccf6;
    --yellow: #fcde67;
}
* {
    background-color: var(--yellow);
    color: var(--dark);
}
header {
    text-align: center;
}
nav img {
    width: 130px;
    height: 130px;
    object-fit: contain;
}
nav h1 {
    font-size: 30px;
    margin-bottom: 5px;
    line-height: 1.5;
    border: 2px solid var(--dark);
    border-radius: 15px;
    background-color: var(--teal);
}
div h1 {
    background-image: url(https://cdn.pixabay.com/photo/2018/06/13/18/20/waves-3473335_960_720.jpg);
    background-repeat: no-repeat;
    background-position: center;
    font-size: 24px;
    padding-top: 50px;
    padding-bottom: 75px;
    font-weight: bolder;
}
nav li {
    display: inline-block;
}
.section-title {
    font-size: 24px;
    padding: 10px;
    border-bottom: 2px solid var(--dark);
    margin-bottom: 25px;
    background-color: var(--teal);
}
#work {
    background-color: var(--teal);
}
.mainproject {
    text-align: center;
}
.mainproject img {
    width: 95vw;
    height: auto;
    object-fit: contain;
    margin-bottom: 10px;
    opacity: .5;
}
.mainproject img:hover {
    opacity: 1;
}
.sideprojects {
    text-align: center;
}
.sideprojects img {
    width: 40vw;
    height: auto;
    object-fit: contain;
    opacity: .5;
}
.sideprojects img:hover {
    opacity: 1;
}
@media screen and (min-width: 700px) {
    nav h1 {
        font-size: 45px;
    }
    nav li {
        font-size: 20px;
    }
    .section-title {
        width: 30vw;
        border-right: 2px solid black;
        border-bottom: none;
        font-size: 30px;
    }
    .mainproject img {
        width: 66vw;
    }
    .sideprojects {
        font-size: 20px;
    }
    .sideprojects img {
        width: 33vw;
        height: 25vh;
    }
}
/* @media screen and (min-width: 960px) {
    .mainproject img {
        width: 66vw;
    }
    .sideprojects img {
        width: 25vw;
        height: 25vh;
    }
} */
footer {
    text-align: center;
    line-height: 1.5;
}